#!/bin/bash

source_env ../../../

export TF_CLOUD_ORGANIZATION=run4w4y-infra
export TF_CLOUD_PROJECT=run4w4y-cv

export INFISICAL_ENV=prod

infisical_login_user_token
infisical_load "$INFISICAL_ENV" "/cv/deploy"
infisical_load "$INFISICAL_ENV" "/cv/analytics"
infisical_load "$INFISICAL_ENV" "/cv/application-registry"
infisical_load "$INFISICAL_ENV" "/cv/grafana"
